@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* border: 0.1px solid red */
  /* border: 1px solid black; */
}

/* @layer components {
  .contain {

  }
} */
@layer utilities {
  .contain {
    @apply container mx-auto px-36;
  }

  .btn-primary {
    @apply inline-flex items-center justify-center px-3 md:px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-lightSecondary rounded-lg gap-x-2 hover:bg-[#2b3b4d] dark:hover:bg-blue-500 dark:bg-[#2b3b4d] disabled:bg-zinc-400 disabled:hover:bg-zinc-400
  }

  .btn-secondary {
    @apply px-3 md:px-5 py-2 text-sm text-zinc-800 transition-colors duration-200 bg-white border rounded-lg dark:hover:bg-zinc-800 dark:bg-zinc-900 hover:bg-zinc-100 dark:text-white dark:border-zinc-700 inline-flex items-center justify-center gap-x-2
  }

  .input-search {
    @apply bg-zinc-50 text-sm py-2 px-5 outline-none border-2 hover:bg-zinc-100 focus:bg-white focus:border-lightPrimary
  }
  .user-avatar {
    @apply flex items-center justify-center rounded-full shadow-md font-bold
  }
  .input-style {
    @apply block px-4 py-2 disabled:bg-zinc-200 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 invalid:focus:border-red-400 invalid:focus:ring-red-300 placeholder:text-zinc-500 placeholder:text-sm
  }
  .is-invalid {
    @apply border-blue-400 invalid:focus:ring-blue-300
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

.reactmarkdown ul {
  list-style: circle
}


/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(3, 179, 255, 0.8);
  width: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 179, 255, 0.8);
}
